/*
 * Projects
 */

article.readme {
  font-family: Helvetica, sans-serif;
}

article.readme h1 {
  color: #4354A8;
  font-family: Georgia, sans-serif;
  font-size: 3em;
}

article.readme h2 {
  font-size: 1.5em;
  border-bottom: 3px solid;
}

article.readme code {
  padding: 0.15em;
  background-color: #333333;
  color: #ffffff;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
}

article.readme pre code {
  padding: 1em;
  display: block;
}
