/* CSS */

body {
  font-family: Georgia;
}

a {
  color: #4354A8;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333333;
}

header, footer, nav, article {
  display:block;
}

body > div:first-child {
  margin: 1.5em auto;
  width: 38em;
}

header .main-title {
  font-size: 2em;
  line-height: 1em;
  margin: 0;
  text-align: center;
}

header .tagline {
  color: #666666;
  font-size: 1em;
  margin: 0;
  text-align: center;
}

nav {
  margin-bottom: 3em;
}

nav ul {
  padding: 0;
  list-style: none;
  text-align: center
}

nav ul li {
  display: inline;
  margin: 1em;
}

body div > footer {
  color: #666666;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

blockquote {
  font-style: oblique;
  color: #4F4F4F;
  background-color: #E8E8E8;

  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3.5em;
  padding-right: 3.5em;

  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
}

blockquote span.author {
  font-style: normal;
  float: right;
  margin-top: 1em;
}

blockquote:before {
  content: url('../images/quote-left.png');

  width: 0;
  height: 0;

  float:left;
  margin-top: -10px;
  margin-left: -50px;
}

blockquote:after {
  content: url('../images/quote-right.png');

  width: 0;
  height: 0;

  float: right;
  margin-top: -25px;
  margin-right:-10px;
}



